.categoryMainContainer {
    border: 1px solid gray;
    padding: 8px 16px;
    width: calc(100% - 32px);
    .categoryContainer {
      margin-bottom: 12px;
      .categoryHeader {
        font-weight: 600;
        font-size: 20px;
        padding: 0 0 4px 0;
        display: flex;
        align-items: center;
        gap: 4px;
        word-break: break-all;
        width: 100%;
      }
      .categoryBox {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        .CategoryTitle{
          max-width: 400px;
        }
      }
    }
  }